body{
	font-family: helvetica;
	font-size: 0.9em;
	padding:5px;

}




button{
	border-style:none;
	background-color: #ff3333;
	color:white;
	border-radius:5px;
}

button:hover{
	background-color:white;
	color:#ff3333;
	border:0.5px solid #ff3333;
	cursor: pointer;
}

a {
	text-decoration: none;
}

ul a :hover{
color: #333333;
background-color:#f2f2f2;

}


.kaki a{
	text-decoration: none;
	  color:#a6a6a6;
}


.clr{
	clear:both;
}

.logo{
	margin-left:auto;
	margin-right:auto;
	display:block;
	padding:10px;

}

.badan{
	width:500px;
}

.title{
	font-size:0.8em;
	    margin-bottom: 5px;
	    color:#808080;
}

.box-title{
	border-bottom : 0.5px solid #e6e6e6;
	line-height: 0.5em;
}


.hasil{
	font-size:1em;
}

.hasil-2{
	font-size:0.9em;
}

.container{
	text-align: center;
	width:100%;
	margin-bottom:100px;

}

.box-1{
	margin:5px;
}


.select{
	width:100%;

	height:32px;
	border-radius:5px;

}

.tombol{
	width:100%;
	height:32px;
}


div .content-box{
	width:100%;

}

.promo{
	text-align: center;
	font-size:0.9em;
	line-height: 1.5em;
	margin-bottom:50px;
}


.kaki{
  position: fixed;
  bottom:0;
  left:0;
  right:0;
  width:100%;
background-color:white;
  font-size:0.9em;
  color:#a6a6a6;

  text-align: center;
  margin-top:20px;


}


.menu{
	float:left;
	width:25%;
	border-right:0.8px solid #a6a6a6;
	box-sizing: border-box;
	padding:5px;
}

.menu:hover{
	float:left;
	box-sizing: border-box;
	color:#666666;
	
		cursor: pointer;
		
		font-weight: bold;
}

.versi{
	font-size:0.8em;
	text-align: center;
	margin-top:0;
	color:grey;
}


.drone{
	list-style: none;
	text-align: center;
	padding-left:0;

}

.drone li{
	border-bottom:0.7px solid #f2f2f2;
	padding:10px;
	color:grey;
}

.hasil-new{
		font-size:1em;
font-weight: bold;
}


